@model Consultorio.Web.Models.Consult

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Atendimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPatient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPatient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDoctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Convenio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Convenio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
    </dl>
    
    <form asp-action="DeleteExecutar" method="post">
        <input type="hidden" name="id" value=@Model.Id />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
